configuration {
    fullscreen: true;
    font: "Iosevka 16";
    location: 0;
    yoffset: 0;
    xoffset: 0;
    width: 100%;
    padding: 30px;
}

window {
    background-color: #1a1b26;
    border: 0;
    padding: 20px;
}

inputbar {
    background: #16161e;
    border: 0;
    padding: 10px;
}

listview {
    columns: 2;
    lines: 15;
    spacing: 10px;
}
